.header {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 20px;
		.header_logo {
			width: 33.333333%;
			display: flex;
			align-items: center;
			img {
				width: 50%;
			}
		}
		.header_nav {
			display: flex;
			position: absolute;
			left: 50%;
			top: 110%;
			transform: translate(-50%, -50%);
			z-index: 10;
			&.on {
				li {
					ul {
						opacity: 1;
						visibility: visible;
						transform: translateY(0px);
					}
				}
			}
			li {
				width: 130px;
				text-align: center;
				a {
					font-weight: bold;
					font-family: "ROKAFSansBold";
					color: #34a4e3;
					cursor: pointer;
					padding: 10px;
					&:hover {
						background: #34a4e3;
						color: #fff;
					}
				}
				ul {
					position: relative;
					width: 200px;
					color: #000;
					z-index: 6;
					text-align: center;
					visibility: hidden;
					margin-top: 40px;
					opacity: 0;
					transition: all 1s;
					transform: translateY(-30px);
					li {
						padding: 5px;
						cursor: pointer;
						color: #fff;
						&:hover {
							background: #fff;
							color: #34a4e3;
						}
					}
				}
			}
		}
		.menu_btn {
			width: 33.33333%;
			display: flex;
			justify-content: flex-end;
			button {
				border: none;
				background: none;
				font-size: 30px;
				cursor: pointer;
				color: #34a4e3;
			}
		}
	}
	.header_back {
		position: absolute;
		top: 90px;
		width: 100%;
		height: 100px;
		background: #34a4e3;
		z-index: 5;
		visibility: hidden;
		opacity: 0;
		transition: all 1s;
		transform: translateY(-30px);
		&.on {
			transform: translateY(0px);
			opacity: 1;
			visibility: visible;
		}
	}
}
